
.visible {
  display: block;
  animation: expand 500ms ease-in-out;
  transform-origin: top;
  top:3.1em;
}

#dropdownDefaultButtonSmartphone{
  display: none;
}

#dropdownSmartphone{
  position: absolute;
  top:2.8em;
}
#dropdown{
 position: absolute;
}

@keyframes expand {
  0% {
    transform: scaleY(0.8);
  }

  50% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width:640px){
  #dropdownDefaultButton{
  display: none;
  }
  #dropdownDefaultButtonSmartphone{
    display: block;
  }
  
}