---
import Layout from '../../layouts/LayoutEN.astro';
import Header from './Header.astro';
---

<Layout title="Carlos Pulido Portfolio - Frontend Developer.">
	<Header/>
	<main class="relative top-40 h-svh w-12/12">
		<h1 class=" text-[#363637] dark:text-slate-100">Hello what are you doing?</h1>
	</main>

	
</Layout>
