---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
  title="Porfolio de Carlos Pulido Desarrollador y Programador Web."
  description="Contrata a Carlos Pulido para crear aplicaciones web o móviles."
>
  <main class="h-screen w-full">
    <SectionContainer id="#inicio">
      <Hero />
    </SectionContainer>
  </main>
</Layout>
