---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Porfolio de Carlos Pulido - Desarrolloador Front-End.">
  <Header />
  <main class="relative top-40 h-svh w-12/12">
    <h1 class="text-[#363637] dark:text-slate-100">Hola que ases?</h1>
  </main>
</Layout>
