---
interface Props {
  id?: string;
  title?: string;
  className?:string;
}

const { id, title, className } = Astro.props;
---

<section
  id={id}
  title={title}
  class=`w-full bg-white/0 h-auto relative py-6 px-12 tablet:w-8/12 desktop:w-8/12 ${className}`
>
  <slot />
</section>
