---
interface Props {
  id?: string;
  title?: string;
  className?:string;
}

const { id, title, className } = Astro.props;
---

<section
  id={id}
  title={title}
  class=`w-full bg-white/0 h-auto relative p-8 tablet:px-48 ${className}`
>
  <slot />
</section>
