---
// Supports weights 100-900
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions/>
  </head>
  <body class="dark:bg-slate-900">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
    background: #f8f8f9;
  }

  html.dark {
    background-color: #0d0950;
    color: #ffffffe9;
  }

  .dark .nav-links a {
    color: #e4e4dcdc;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgb(71 85 105 / 0.8);
	  min-height: 100svh;
    }
  }
</style>
