---
// Supports weights 100-900
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <div
    class="dark:absolute dark:top-0 z-[-2] dark:h-screen dark:w-screen dark:bg-slate-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <body class="bg-slate-900">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
    background-color: #f8f8f9;
    overflow-x: hidden;
    min-height: 100svh;
  }

  body {
    min-height: 100svh;
  }

  html.dark {
    color: #ffffffe9;
  }

  .dark .nav-links a {
    color: #e4e4dcdc;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      color: rgb(71 85 105 / 0.8);
    }
  }
</style>
