---
// Supports weights 100-900
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import 'devicon/devicon.min.css'

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Navigation />
    <Header id="inicio" />
    <slot />
    <Footer />
  </body>
  <style is:global>
    :root {
      color-scheme: light dark;
    }
    html {
      font-family: "Inter Variable", system-ui, sans-serif;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    html,
    body {
      height: 100%;
      width: 100%;
    }

    body{
      min-height: 100vh;
      overscroll-behavior: none;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }

    @media (prefers-color-scheme: dark) {
      .dark body {
        background: rgb(7, 7, 9);
        background-image: linear-gradient(
          90deg,
          rgba(7, 7, 9, 1) 0%,
          rgba(25, 21, 98, 1) 100%
        );
      }

      body {
        background-color: #f8f8f9; /** light background **/
      }
    }
  </style>
</html>
